* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.3;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

header {
  margin-top: 2rem;
  grid-column: 1/3;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #f08741;
}

.sidenav {
  grid-column: 1/2;
  margin-top: 2rem;
}

.sidenav .sidenav-list {
  list-style: none;
}

.sidenav .sidenav-list .sidenav-item {
  padding: .3rem 1rem;
  transition: background-color .3s ease;
}

.sidenav .sidenav-list .sidenav-item:hover {
  cursor: pointer;
  background-color: #555;
}

.sidenav .sidenav-list .sidenav-item.active {
  background-color: #555;
}

.app {
  width: 80%;
  margin: 2rem auto 0;
  grid-column: 2/3
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

#todo-form label {
  font-size: 1.8rem;
}

#todo-form #todo-text {
  padding: .4rem 1rem;
  font-size: 1.3rem;
  border: none;
  flex-grow: 1;
  outline: none;
  width: 100px;
}

#todo-form #todo-text:focus {
  outline: #f08741 solid 2px;
  outline-offset: -1px;
}

.btn {
  padding: 0 1.2rem;
  border: none;
  background: #f08741;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.todo-list {
  list-style: none;
  width: 100%;
  margin: 2rem auto 0;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin-top: .2rem;
}

.checkbox {
  margin-right: .5rem;
}

.checkbox+label {
  transition: opacity .3s ease-in-out;
}

.checkbox:checked+label {
  opacity: .5;
  text-decoration: line-through;
}

.delete-btn {
  padding: .1rem .4rem;
  border: none;
  background: #ff4545;
}

.delete-btn:focus {
  outline: none;
}

@media(max-width: 700px) {
  h1 {
    font-size: 3rem;
  }
  #todo-form label {
    font-size: 1.3rem;
  }
  #todo-form #todo-text {
    font-size: .8rem;
  }
}

@media(max-width: 550px) {
  #todo-form label {
    font-size: 1rem;
    align-self: center;
  }
}

@media(max-width: 450px) {
  .btn {
    font-size: 1rem;
    padding: 0 .7rem;
  }
}