* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.3;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Header */

header {
  margin-top: 2rem;
  grid-column: 1/3;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #f08741;
}

h3 {
  text-align: center;
}

/* Sidenav */

.sidenav {
  grid-column: 1/2;
  margin-top: 2rem;
}

.sidenav .sidenav-list {
  list-style: none;
}

.sidenav .sidenav-list .sidenav-item {
  padding: .3rem 1rem;
  transition: background-color .3s ease;
}

.sidenav .sidenav-list .sidenav-item:hover {
  cursor: pointer;
  background-color: #555;
}

.sidenav .sidenav-list .sidenav-item.active {
  background-color: #555;
}

.new-list-form {
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
}

.new-list-form label {
  grid-column: 1/3;
}

.new-list-form #list-name {
  padding: .2rem .5rem;
  border: none;
}

.new-list-form #list-name:focus {
  outline: #f08741 solid 2px;
  outline-offset: -2px;
}

.new-list-form .new-list-btn {
  border: none;
  border-radius: 0;
  background-color: #f08741;
  padding: 0 .4rem;
}

/* App */

.app {
  width: 80%;
  margin: 2rem auto 0;
  grid-column: 2/3
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin-top: 1rem;
}

#todo-form label {
  align-self: center;
}

#todo-form #todo-text {
  padding: .3rem 1rem;
  border: none;
  flex-grow: 1;
  outline: none;
  width: 100px;
}

#todo-form #todo-text:focus {
  outline: #f08741 solid 2px;
  outline-offset: -2px;
}

.btn {
  padding: 0 1.2rem;
  border: none;
  background: #f08741;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.todo-list {
  list-style: none;
  width: 100%;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}

.todo-list-item .todo {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkbox {
  margin-right: .5rem;
}

.todo-list-item .todo .todo-text {
  flex-grow: 1;
  background: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  transition: opacity .3s ease-in-out;
}

.checkbox:checked+.todo-text {
  opacity: .5;
  text-decoration: line-through;
}

.delete-btn {
  padding: .1rem .4rem;
  border: none;
  background: #ff4545;
}

.delete-btn:focus {
  outline: none;
}