* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.3;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.btn {
  cursor: pointer;
  margin-top: .3rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #f08741;
  color: #fff;
  font-weight: bold;
  font-size: .9rem;
}

.btn:active {
  outline: none;
}

/* Header */

header {
  margin-top: 2rem;
  grid-column: 1/3;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #f08741;
}

h3 {
  text-align: center;
}

/* Sidenav */

.sidenav {
  grid-column: 1/2;
  margin-top: 2rem;
}

.sidenav .sidenav-list {
  list-style: none;
}

.sidenav .project-item-wrapper {
  position: relative;
}

.sidenav .project-item-wrapper .delete-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  cursor: pointer;
  transition: opacity .3s ease;
}

.sidenav .project-item-wrapper:hover .delete-btn {
  opacity: 1;
}

.sidenav .sidenav-list .sidenav-item {
  padding: .3rem 1rem;
  transition: background-color .3s ease;
}

.sidenav .sidenav-list .sidenav-item:hover {
  cursor: pointer;
  background-color: #555;
}

.sidenav .sidenav-list .sidenav-item.active {
  background-color: #555;
}

.new-project-form {
  margin-top: 1rem;
  padding: 1rem;
  display: grid;
}

.new-project-form label {
  grid-column: 1/3;
}

.new-project-form #project-name {
  padding: .2rem .5rem;
  border: none;
}

.new-project-form #project-name:focus {
  outline: #f08741 solid 2px;
  outline-offset: -2px;
}

.new-project-form .new-project-btn {
  border: none;
  border-radius: 0;
  background-color: #f08741;
  padding: 0 .4rem;
}

/* App */

.app {
  width: 80%;
  margin: 2rem auto 0;
  grid-column: 2/3
}

.todo-form {
  margin-top: 1rem;
  width: 100%;
}

.todo-form .input-field {
  position: relative;
}

.todo-form .input-field .todo-text, .comment-text {
  width: 100%;
  padding: .5rem .8rem;
  border: 1px solid #555;
  border-radius: 5px;
  background: #222;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.todo-form .input-field .todo-text:focus, .comment-text:focus {
  border-color: #f08741;
}

.add-btn {
  background: #f08741;
}

.todo-list {
  list-style: none;
  width: 100%;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .2rem;
}

.todo {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Custom checkbox start */

.checkbox {
  margin-right: .5rem;
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  color: #555;
  border: 1px solid #555;
  border-radius: 50%;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: background .175s ease;
}

.checkbox::before {
  position: absolute;
  content: '';
  display: block;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 11px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.checkbox:checked {
  color: #fff;
  border-color: #f08741;
  background: #f08741;
}

.checkbox:checked::before {
  opacity: 1;
}

/* Custom checkbox end */

.todo-text {
  flex-grow: 1;
  background: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  transition: opacity .3s ease-in-out;
  letter-spacing: 1px;
}

.checkbox:checked+.todo-text {
  opacity: .5;
  text-decoration: line-through;
}

.delete-btn {
  padding: .1rem .4rem;
  border: none;
  background: #ff4545;
}

.delete-btn:focus {
  outline: none;
}

/* Modal */

.modal {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
}

.modal .modal-content {
  margin-top: 10rem;
  background: #333;
  padding: 2rem 3rem;
  border-radius: 5px;
}

.modal .modal-content .dialog-actions {
  margin-top: 1rem;
}

.modal .modal-content .modal-cancel-btn {
  background: #555;
  margin-right: 1rem;
}

.modal .modal-content .modal-delete-btn {
  background: #ff4545;
}

/* Todo modal */

.modal.todo-modal {
  align-items: center;
}

.todo-modal .modal-content {
  margin: 0;
  height: 90vh;
  width: 35rem;
  padding: 1.5rem;
}

.todo-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-modal-header span {
  font-size: .8rem;
}

.todo-modal-header button {
  border: none;
  background: none;
  font-size: 1rem;
  color: #999;
  cursor: pointer;
}

.todo-modal .todo {
  margin-top: 1rem;
}

.todo-modal-tab-list {
  margin: 1rem 0;
  width: 100;
  display: flex;
}

.todo-modal-tab-list button {
  flex-grow: 1;
  background: none;
  border: none;
  color: #fff;
  border-bottom: 1px solid #555;
  padding: .3rem;
  cursor: pointer;
  outline: none;
}

.todo-modal-tab-list button.active {
  border-bottom-color: #fff;
}

/* Comments */

.comments-list {
  list-style: none;
}

.comment-list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.3rem;
  letter-spacing: 0;
}

.comment-list-item:last-of-type {
  margin-bottom: 1rem;
}